/* GENERIC STYLES */
/* ============== */
body {
	background-color: #515151;
	height: 100%;
}
.container {
	max-width: 1200px;
	min-width: 700px;
	margin: 0 auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
slide {
	display: block;
	padding-top: 2rem;
	font-family: 'Letter Gothic Std';
	font-size: 1.5rem;
	color: #FFFFFF;
	/*border: 1px solid white;*/
}
a {
	text-decoration: none;
	color: inherit;
}



/* START AND RESULT PAGE */
/* ===================== */
#start, #result {
	position: absolute;
	width: 100%;
	padding: 9.5rem 0;
	background-color: #515151;
	font-family: 'Lato';
}
.tight {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
h2 {
	margin-bottom: 2rem;
	font-size: 2rem;
	color: #33FF99;
}
#result #total_score {
	font-family: 'Lato Bold';
	font-size: 3rem;
	color: #FF9E4B;
}


/* HEADER */
/* ====== */
header {
	text-align: center;
}
header .container {
	padding: 3rem 0;
	background: rgba(255, 255, 255, 0.127);
	border-radius: 0 0 30px 30px;
}
h1 {
	font-family: 'Myriad Pro Bold', "Arial Bold", sans-serif;
	font-size: 4rem;
	color: #33FF99;
}



/* QUESTIONS SLIDE */
/* =============== */
#questions {

}
#questions .container {
	position: relative;
}
	/* RIGHT STATUS BAR */
	/* ---------------- */
	#status_bar {
		display: inline-block;
		float: right;
		position: absolute;
		right: 0;
		top: 0;
		width: 20%;
		height: 100%;
		padding-left: 1rem;
		border-left: 1px solid rgba(0,0,0,0.15);
	}
	h3 {
		font-family: 'Lato';
		color: #FFCB35;
		margin-bottom: 1.5rem;
	}
	#status_bar p {
		margin-bottom: 2rem;
	}

	/* QUESTIONS AND ANSWERS SECTION */
	/* ----------------------------- */
	#qna {
		width: 80%;
	}
	#question p {
		margin-bottom: 1.5rem;
	}
	#choices li {
		margin: 0.75rem 0.75rem 0.75rem 0;
		padding: 0.75rem 0;
		border-radius: 3px;
		transition: background 0.25s ease;
	}
	#choices li:before {
		content : "";
		display: inline-block;
		height: 1rem;
		width: 1rem;
		margin: 0 1rem;
		padding: 0.35rem;
		vertical-align: middle;
		border-radius: 100%;
		border: 1px dashed #FFCB35;
		background-clip: content-box;
	}
	#choices li:hover {
		background: rgba(74,150,255,0.15);
	}
	#choices li.selected::before {
		background-color: #FFCB35;
	}



/* EXPLANATION SLIDE */
/* ================= */
#alternate {
	/*border: 1px solid white;*/
	position: relative;
	overflow: hidden;
}
#explanation {
	position: absolute;
	top: 0;
	height: 100%;
	background: #515151;
}
h4 {
	margin-bottom: 1.75rem;
	font-family: 'Lato Bold';
	font-size: 2.5rem;
	color: #E8CC39;
}



/* BUTTON */
/* ====== */
#button_container {
	width: 100%;
}
.button {
	width: 13rem;
	position: relative;
	margin: 3rem auto 1rem;
	padding: 16px 0; /* Changing this will affect the pointy end */
	text-align: center;
	background: #3797FF;
	color: #FFFFFF;
	border-radius: 10px 0 0 10px;
	cursor:pointer;
	transition: background 0.5s ease;
}
.button::after { /* pointy end */
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-color: transparent #3797FF;
  border-style: solid;
  border-width: 30px 0 30px 30px; /* Changing this will affect the pointy end */
  transition: border-color 0.5s ease;
}
.button:hover {
	background: #1575EE;
}
.button:hover::after {
	border-color: transparent #1575EE;
}
.button p {
	vertical-align: middle;
	font-family: "Lato";
	font-size: 28px; /* Changing this will affect the pointy end */
}